<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}
    Điện thoại: {{Phone}}<br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    Sản phẩm: {{ProName}}<br />
    Giá đấu: {{ProPrice}}<br />
    Giá khởi điểm: {{Price}}<br />
    Số lượng: {{Number}}<br />
    Thời gian kết thúc đấu giá: {{Deline}}<br />
</body>
</html>
