@using BotDetect.Web.Mvc;

@section view_title {
    <h4><b>Đăng ký thành viên</b></h4>
}

@section css{    
    <link href="~/assets/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    
    }
@section js{       
    <script src="~/assets/jquery-validation/jquery.validate.min.js"></script>   
    <script src="~/assets/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>   
    <script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'm/d/yyyy',
        autoclose: true
    });

    $('#frmRegister').validate({
        rules: {
            Username: {
                required: true
            },
            RawPWD: {
                required: true,
                minlength: 6
            },
            CPWD: {
                equalTo: '#txtPWD'
            },
            Name: {
                required: true
            },
            Email: {
                required: true,
                email: true
            },
            DOB: {
                required: true
            },
            Money: {
                required: true
            },
        },
        messages: {
            Username: {
                required: 'Vui lòng nhập Username.'
            },
            RawPWD: {
                required: 'Vui lòng nhập mật khẩu.',
                minlength: 'Mật khẩu phải dài ít nhất 6 ký tự'

            },
            CPWD: {
                equalTo: 'Mật khẩu nhập lại chưa khớp'
            },
            Name: {
                required: 'Vui lòng nhập họ tên.'
            },
            Email: {
                required: 'Vui lòng nhập Email.',
                email: 'Email không đúng định dạng'
            },
            DOB: {
                required: 'Vui lòng nhập ngày sinh.'
            },
            Money: {
                required: 'Vui lòng số tiền nạp vào tài khoản.'
            },
        },
        @*errorElment: 'span',
            errorClass: 'help-block',

            highlight: function (element){
                $(element)
                    .closet('.form-group')
                    .addClass('has-error');
            },

            success: function (label) {
                $(label)
                    .closest('.form-group')
                    .removeClass('has-error');
                label.remove();
            },*@
    });






    </script>
}


@if (ViewBag.ErrorMsg != null) { 
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> @ViewBag.ErrorMsg
</div>
}
    
<form class="form-horizontal" method="post" action="" id="frmRegister">
    
    <div class="form-group">
        <label for="txtUsername" class="col-sm-2 control-label"><b>Tên đăng nhập</b></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label"><b>Password</b></label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="RawPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtCPWD" class="col-sm-2 control-label"><b>Nhập lại mật khẩu</b></label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtCPWD" placeholder="Nhập lại mật khẩu" name="CPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtName" class="col-sm-2 control-label"><b>Họ tên</b></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtName" placeholder="Họ tên" name="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label"><b>Email</b></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="txtDOB" class="col-sm-2 control-label"><b>Ngày sinh</b></label>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="txtDOB" placeholder="d/m/yyyy" name="DOB">
        </div>
    </div>
    <div class="form-group">
        <label for="txtMoney" class="col-sm-2 control-label"><b>Nạp tiền vào tài khoản (VND)</b></label>
        <div class="col-sm-4">
            <input type="number" class="form-control" id="txtMoney" placeholder="Money" name="Money">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            @{ 
                var exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                exampleCaptcha.Reset();
            }
            
            @Html.Captcha(exampleCaptcha)
        </div>
    </div>
        
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label"><b>Nhập mã xác nhận</b></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtCaptchaCode" placeholder="captcha" name="CaptchaCode">
        </div>
    </div>
   
    @*<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
                Đăng ký
            </button>
        </div>
    </div>
</form>
