@section view_title {
    <h4><b>Thêm mới sản phẩm</b></h4>
                
    }

    @section css {
        <link href="~/assets/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
        <link href="~/assets/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    }
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    @section js {
        <script src="~/assets/jquery-validation/jquery.validate.min.js"></script>
        <script src="~/assets/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>   
        <script src="~/assets/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="~/assets/tinymce/tinymce.min.js"></script>
        <script src="~/assets/bootstrap.file-input.js"></script>
        <script src="~/assets/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
        <script>
            $('.selectpicker').selectpicker();
            @*tinymce.init({ selector: 'textarea' });*@

            $('input[type=file]').bootstrapFileInput();

            tinymce.init({
                selector: '#txtFullDes',
                menubar: false,
                toolbar1: "styleselect | bold italic | link image | alignleft aligncenter alignright | bullist numlist",
                toolbar2: "fontselect | fontsizeselect | forecolor backcolor",
                plugins: 'link image textcolor',
                encoding: "xml,"
            });
          

        </script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'm/d/yyyy',
            autoclose: true
        });

        $('#txtPrice').TouchSpin({
            min: 100000,           
            max: 1000000000000,           
            verticalbuttons: false,           
           
        });

        $('#frmaddProduct').validate({
            rules: {
                ProName: {
                    required: true
                },
                Date: {
                    required: true
                },
                TinyDes: {
                    required: true
                },
                fuMain: {
                    required: true
                },
                
                fuThumbs: {
                    required: true
                },
                fuThumbs1: {
                    required: true
                },
            },
            messages: {
                ProName: {
                    required: 'Vui lòng nhập tên sản phẩm.'                  
                },
                Date: {
                    required: 'Vui lòng nhập thời hạn đấu giá sản phẩm.'
                },
                TinyDes: {
                    required: 'Vui lòng nhập mô tả.'
                },
                fuMain: {
                    required: 'Vui lòng chọn hình nhả.'
                },
                fuThumbs: {
                    required: 'Vui lòng chọn hình ảnh.'
                },
                fuThumbs1: {
                    required: 'Vui lòng chọn hình ảnh.'
                },
            }
        });
    </script>

    }


    <form class="form-horizontal" method="post" action="" id="frmaddProduct" enctype="multipart/form-data">
        <div class="form-group">
            <label for="txtProName" class="col-sm-2 control-label">Sản phẩm</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtProName" name="ProName" />
            </div>
            <label for="CatID" class="col-sm-2 control-label">Danh mục</label>
            <div class="col-sm-4">
                <select class="form-control selectpicker" name="CatID">
                @foreach (var c in ViewBag.Categories)
                    {
                        <option value="@c.CatID">@c.CatName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtPrice" class="col-sm-2 control-label">Giá khơi điểm (VND):</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="txtPrice" name="Price" value="100000" />
            </div>
        </div>
        <div class="form-group">
            <label for="txtDate" class="col-sm-2 control-label">Thời gian đấu giá đến:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control datepicker" id="txtDate" placeholder="d/m/yyyy" name="Date"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Hình lớn:</label>
            <div class="col-sm-4">
                <input type="file" id="fuMain" name="fuMain" />
            </div>
            <label class="col-sm-2 control-label">Hình nhỏ:</label>
            <div class="col-sm-5">
                    <input type="file" id="fuThumbs" name="fuThumbs" />
                </div>
            <div class="col-sm-5">
                    <input type="file" id="fuThumbs1" name="fuThumbs1" />
            </div>
        </div>

        <div class="form-group">
            <label for="txtTinyDes" class="col-sm-2 control-label">Mô tả</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="txtTinyDes" name="TinyDes" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <textarea class="form-control" id="txtFullDes" name="FullDes"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-check"></i>&nbsp;Lưu
                </button>
                <a href="#" class="btn btn-success">
                    <i class="fa fa-reply"></i>&nbsp;Danh sách sản phẩm
                </a>
            </div>
        </div>

    </form>
